################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CharityAPI/bin/*
/CharityAPI/obj/*
